<!doctype html>
<html>
  <head>
    <title>Lost My Doorbell</title>
  </head>
  <body>
    <form action="/buzz" method="post">
      <button type="submit">bzzzzz</button>
    </form>
  </body>
</html>
